.box1{
	background: red;
	width: 100%;
	height: 500px;
}

.box2{
	background: orange;
	width: 100%;
	height: 500px;
}

.box3{
	background: yellow;
	width: 100%;
	height: 500px;
}

.box4{
	background: green;
	width: 100%;
	height: 500px;
}